{% load static %}

<!-- jquery plugins here-->
 <script src=' {% static "js/jquery-1.12.1.min.js" %}'></script>
 <!-- popper js -->
 <script src=' {% static "js/popper.min.js" %}'></script>
 <!-- bootstrap js -->
 <script src=' {% static "js/bootstrap.min.js" %}'></script>
 <!-- owl carousel js -->
 <script src=' {% static "js/owl.carousel.min.js" %}'></script>
 <script src=' {% static "js/jquery.nice-select.min.js" %}'></script>
 <!-- contact js -->
 <script src=' {% static "js/jquery.ajaxchimp.min.js" %}'></script>
 <script src=' {% static "js/jquery.form.js" %}'></script>
 <script src=' {% static "js/jquery.validate.min.js" %}'></script>
 <script src=' {% static "js/mail-script.js" %}'></script>
 <script src=' {% static "js/contact.js" %}'></script>
 <!-- custom js -->
 <script src=' {% static "js/custom.js" %}'></script>